.btn {
    display: flex;
    justify-content: center;
    background-color: var(--color3) ;
    margin: 1rem;
    box-shadow: 10px 10px 20px rgba(24, 24, 24, 0.5);

}

.btn:hover {
    background-color: var(--color4) ;
    color: var(--color2);
    transform: scale(1.1);
    font-weight:bold ;
}
