#contact {
    min-height: 100vh;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    padding: 2rem;
    /* box-shadow: 0 1px 2px 0 rgba(26, 26, 26, .3), 0 1px 3px 1px rgba(26, 26, 26, .15); */
    /* background-color: var(--color3); */
    gap: 2rem;
}

.info a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    /* padding-left: 5rem;
    padding-right: 5rem; */
}

.contact-info img {
    width: 8rem;
}

#contact p {
    text-align: center ;
}

.form-container {  
    width: 500px;
}

.intro-contact p {
    margin: 1rem;
}

.search {
    font-weight: bold;
    color: var(--accent);
}

.text-contact {
    text-align: center;
}


.text-contact p {
    font-family: 'Angelina', sans-serif;
    font-size: 1.5rem;

}