/* .filter-container {
   display: flex;
   justify-content: center;
   border: dashed 2px var(--color1);
   border-radius: 20px;
}
label {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 5px;
}
input[type="checkbox"] {
    display: none;
}
.custom-checkbox {
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 100%;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
.custom-checkbox::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    border: solid var(--color2);
    border-width: 0 2px 2px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    transition: all 0.3s ease;
  }
.custom-checkbox:hover {
    border-color: var(--color5);
}
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: var(--color5);
    border-color: var(--color5);
}
input[type="checkbox"]:checked + .custom-checkbox::after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    opacity: 1;
} */

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1rem;
}

.card {
    display: flex;
    align-items: center;
    height: 450px;
    width: 500px;
    margin: 1rem;
    box-shadow: 5px 5px 20px  rgba(255, 255, 255, 0.51);
    overflow: hidden;
    background: var(--color2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px; 
}

#dailybooks {
    background-image: url(/img/Portfolio/LogoDB.png); 
}

#Flotti {
    background-image: url(/img/Portfolio/Flotti.png); 
}
#MB {
    background-image: url(/img/Portfolio/MB.png);
}
#QA {
    background-image: url(/img/Portfolio/QA.png);
}
#GVP {
    background-image: url(/img/Portfolio/GarageVParrot.png);
    background-size: auto;
}

.img-project {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.intro h4 {
    color: var(--color1);
}

.intro p {
    color: var(--color1);
    
}

.intro {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    background: rgb(24, 24, 24, 0.2);
    color: var(--color2);
    top: 400px; 
    transition: .5s;
}
.card:hover .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    top: 0px;
    bottom: 0px;
    padding: 0.5rem;
    background: rgb(24, 24, 24, 0.6);
}

.intro ul {
    /* list-style: none; */
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
.card:hover ul {
    color: var(--color1);
    opacity: 1;
    visibility: visible;
}

.tags li{
    list-style: none;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0rem 1rem 0rem 0rem;
    padding: 0.3rem;
    background: var(--color4);
    border-radius: 5px;
}

.tags {
    display: flex;
    flex-direction: row;
}

.intro a {
    text-decoration: none;
    color: var(--color1);
    background: var(--color3);
    padding: 0.5rem;
    border-radius: 50px;
}
.intro a:hover{
    transform: scale(1.2);
    font-weight:bold ;
}

.card:hover {
    cursor: pointer;
}


